.s-tag-button {
  padding: 0 8px;
  background: theme('colors.main.souffle');
  border-radius: 10px;
  color: theme('colors.main.chocolate');
  transition: background-color 0.3s, color 0.3s;
  user-select: none;

  &:hover {
    background: theme('colors.main.chocolate');
    color: theme('colors.main.sugar');
  }

  &:disabled {
    background: theme('colors.main.waffle');
    color: theme('colors.main.sugar');
  }

  @media (min-width: theme('screens.md')) {
    padding: 0 10px;
  }

  &--dark {
    background: theme('colors.main.chocolate');
    color: theme('colors.main.sugar');

    &:hover {
      background: theme('colors.main.souffle');
      color: theme('colors.main.chocolate');
    }

    &:disabled {
      background: theme('colors.main.waffle');
      color: theme('colors.main.sugar');
    }
  }
}
