

.product-modal-slider {
  padding: 60px 10px 36px 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: theme('screens.md')) {
    padding: 30px 10px 42px 10px;
  }

  @media (min-width: theme('screens.xl')) {
    padding: 30px 10px 30px 10px;
  }

  &__container {
    margin: auto 0;
    width: 300px;
    padding-top: 18px;
    overflow: hidden;

    @media (min-width: theme('screens.md')) {
      padding-top: 28px;
      width: 600px;
    }

    @media (min-width: theme('screens.md')) {
      padding-top: 32px;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;

    video {
      max-height: 300px;
      @media (min-width: theme('screens.md')) {
        padding-top: 28px;
        max-height: 600px;
      }
    }
  }

  &__btn {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: theme('colors.main.chocolate');
    color: theme('colors.main.sugar');
    border-radius: 100%;
    z-index: 2;
    transition: color 0.3s, background 0.3s;

    @media (min-width: theme('screens.md')) {
      width: 46px;
      height: 46px;
    }

    @media (min-width: theme('screens.xl')) {
      width: 50px;
      height: 50px;
    }

    &:hover {
      background: theme("colors.main.souffle");
      color: theme("colors.main.chocolate");
    }

    &:disabled {
      background: theme("colors.main.waffle");
      color: theme("colors.main.sugar");
      cursor: default;
    }
  }

  &__prev {
    margin-right: 20px;

    @media (min-width: theme('screens.md')) {
      margin-right: 32px;
    }

    @media (min-width: theme('screens.xl')) {
      margin-right: 40px;
    }
  }
}
